body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background: linear-gradient(to right, #8e44ad, #9b59b6);
  color: #ffffff;
  padding: 10px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #f1c40f;
}

.search-container {
  margin-top: 10px;
}

.search-container input {
  padding: 10px;
  width: 200px;
  border: 2px solid white;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 15px;
  background-color: #fff;
  border: none;
  color: #9b59b6;
  cursor: pointer;
}

main {
  padding: 20px;
}

.game-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.main-image {
  max-width: 700px;
  height: auto;
  border-radius: 10px;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.carousel img {
  max-width: 500px;
  border-radius: 10px;
}

button.prev, button.next {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

button.prev {
  left: 10px;
}

button.next {
  right: 1556px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #333;
  color: white;
  width: 100%;
}
