
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; 
  color: #000000; 
}

/* Cabeçalho */
.header {
  background: linear-gradient(to right, #8e44ad, #9b59b6);
  color: #ffffff;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; 
  margin: auto;
}

.logo {
  max-height: 70px;
}


.nav {
  margin-top: 15px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
  color: #f1c40f;
  text-shadow: 0 0 10px rgba(241, 196, 15, 0.8);
}


.search-form {
  display: flex;
  align-items: center;
}

.search-form input {
  padding: 10px;
  width: 200px;
  border: 2px solid white;
  border-radius: 5px;
  margin-right: 5px;
  transition: border-color 0.3s;
}

.search-form input:focus {
  border-color: #f1c40f;
  outline: none;
}

.search-form button {
  padding: 10px 15px;
  background-color: #ffffff;
  border: none;
  color: #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-form button:hover {
  background-color: #e9c960;
  color: white;
}


.highlight-section,
.games-section {
  padding: 20px;
  background-color: #ffffff;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.highlight-container,
.games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.highlight-item,
.game-item {
  margin: 10px;
  text-align: center;
  flex: 1 0 30%;
  max-width: 250px;
}

.highlight-image,
.game-item img {
  width: 100%;
  border-radius: 8px;
}

.highlight-description {
  margin: 10px 0;
}

.buy-button {
  background-color: #8e44ad;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #9b59b6;
}


footer {
  text-align: center;
  padding: 10px;
  background-color: #8e44ad;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
.category-container {
  margin: 20px 0;
}

.category-container label {
  margin-right: 10px;
  font-weight: bold;
}

.category-container select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #8e44ad;
  transition: border-color 0.3s;
}

.category-container select:hover {
  border-color: #f1c40f;
}
.category-select {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.original-price {
  text-decoration: line-through;
  color: red;
}

.promo-price {
  color: green;
  font-weight: bold;
}


