body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.header {
    background-color: #b700ff;
    color: #fff;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.highlight-section, .games-section, .contact-section {
    padding: 40px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.highlight-container, .games-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.highlight-item, .game-item {
    text-align: center;
    margin: 10px;
    width: 250px; /* Ajuste conforme necessário */
}

.highlight-image, .game-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    color: #007BFF;
}

.buy-button {
    background-color: #c933c9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.buy-button:hover {
    background-color: #4c94ce;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007BFF;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.search-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.search-form button:hover {
    background-color: #0056b3;
}
.carousel {
    display: flex;
    align-items: center;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-slide {
    display: flex;
    min-width: 100%;
}

.carousel-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-button:hover {
    background-color: #0056b3;
}
